*.ipynb_checkpoints/
*.zhistory
/Manifest.toml
test/Manifest.toml
docs/Manifest.toml
benchmark/Manifest.toml
sanity_checks/Manifest.toml
*.jl~
misc/Tutorial\ notebooks/Project.toml
misc/Tutorial\ notebooks/Manifest.toml
misc/Playground.ipynb
misc/statprof/*
misc/a.pdf
misc/b.pdf
misc/c.pdf
misc/d.pdf
misc/*.png
docs/build/
*.DS_Store
results_*.json
results_*.json.tmp
