# This is not part of CI.yml so that failing tests on Julia nightly (which are
# expected) don't turn our CI badge red. I am not aware of a nicer way to do
# this.
name: "Julia nightly"

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Tests - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: nightly
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - name: Set Julia threads
        run: echo "JULIA_NUM_THREADS=4" >> $GITHUB_ENV
      - uses: julia-actions/julia-runtest@v1
